body {
    background-color: rgb(194,225,194);
    text-align: center;
    font-family: Montserrat, sans-serif;
    
}

.nome {
    font-family: Dancing Script , sans-serif;
    font-weight: 550 ;
}

.titulosessao {
    text-align: center;
}

a {
    text-decoration: none;
}

#foto1 {
    border-radius: 100px;
}